@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}
main {
  flex-grow: 1;
}
header {
  height: 20vh;
}
footer {
    height: 10vh;
}
.cursor-pointer {
  cursor: pointer;
}
.qty-input {
  text-align: center;
  width: 100%;
  background: none;
  border-style: none;
  color: $warning;
}
::placeholder{
  color: $primary;
}
#table-header-formulas{
  transform: translateX(-2rem) rotate(270deg); 
}

.w-fit-content {
  width: fit-content !important;
}
.order-form-td {
  text-align: center;
  vertical-align: middle !important;
  width: 120px !important; 
  border-left:5px solid $primary !important;;
  border-top: 5px solid $primary !important;
  border-right: none !important;
  border-bottom: none !important;
  border-style: solid;
  border-width: 5px !important;
}
.order-form-formula-header {
  @extend .order-form-td;
  width: 200px !important;
  border-left: none !important;
  text-align: center;

}
.order-form-shape-header{
  @extend .order-form-td;
  height: 125px !important;
  text-align: center;
}
.header-btns-cont{
  flex-direction: column;
  position:absolute;
  right:0;
  top:20px;
}
.page-title{
  margin-top: 20px;
  margin-bottom: 20px;
}
#order-form-table{
  border-style: solid;
  border-color: $primary;
  border-bottom: 5px solid $primary;
  border-right: 5px solid $primary;
  border-top: 1.5rem solid $primary;
  border-left: 1.5rem solid $primary;

}

.custom-table-data{
  border-top: none !important;
  border-bottom: none !important;
  
  height: 55px !important;
  width: fit-content;
  
}
.custom-table-data-left{
  @extend .custom-table-data;
  border-right: 8px solid $primary;
  text-align: right;
  
}
.custom-table-data-right{
  @extend .custom-table-data;
  border-left: 8px solid $primary;
  text-align: left;
}
.edit-formula-input{
  padding: 0 !important;
  box-sizing: border-box;
  width: 200px;
}
.formula-table-text{
  padding: 1px 2px;
  width: 200px;
}